services:
  - type: web
    name: instaping-backend
    env: go
    buildCommand: go build -o app
    startCommand: ./app
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 8080
      - key: GIN_MODE
        value: release
      - key: VAPID_PRIVATE_KEY
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
    autoDeploy: true
